.main__host {
  width: 100vw;
}

.main__host__banner {
  width: 100vw;
  height: 220px;

  background: rgb(66, 42, 157);
  background: linear-gradient(
    90deg,
    rgba(66, 42, 157, 1) 0%,
    rgba(121, 30, 163, 1) 35%,
    rgba(205, 36, 124, 1) 100%
  );

  display: flex;
  justify-content: space-between;
}

.main__host__banner__text {
  width: 40%;
  height: 100%;
  margin-left: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.host__banner__title {
  width: 100%;
  height: 40%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.host__banner__title h1 {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.host__banner__text {
  width: 100%;
  height: 20%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.host__banner__text p {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.host__button__container {
  width: 20%;
  height: 100%;
  margin-right: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.host__button {
  width: 60%;
  height: 18%;
}

.host__button button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background: white;
  color: black;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;

  cursor: pointer;
}
