.aside__cards {
  width: 40%;

  display: flex;
  justify-content: center;
}

.aside__cards__container {
  width: 85%;

  border: 3px solid #ccc;

  border-radius: 20px;
}

/****************************Header Sidebar****************************/

.price {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.price h2 {
  font-size: 18px;
  font-weight: bold;

  color: black;
}

/********************Main Sidebar********************/

.calendar {
  width: 100%;
  height: 300px;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-reserver {
  width: 85%;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
}

.button-reserver button {
  width: 100%;
  height: 100%;

  border: none;
  border-radius: 20px;

  background: #e51d51;
  color: white;
  cursor: pointer;

  font-family: 'montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

/****************************** Media Queries ******************************/

@media screen and (max-width: 1050px) {
  .aside__cards {
    margin-top: 10px;
    width: 60%;
  }
}

@media screen and (max-width: 850px) {
  .aside__cards {
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  .aside__cards {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .aside__cards {
    width: 90%;
  }
}
