.description__cards {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.description__host {
  width: 70%;
}

/**************************Cards**************************/

.host__name {
  width: 100%;
  height: 100px;
}

.name {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name h1 {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.host__location {
  width: 100%;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.host__location p {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

/**********************Cards Description***********************/

.description__content {
  width: 100%;
  margin-top: 30px;

  display: flex;
}

.content__information {
  width: 65%;
}

/**********************Information***********************/

.information {
  width: 100%;
  height: 100px;

  margin-top: 10px;

  border-bottom: 1px solid #ccc;
}

.information-elements {
  width: 100%;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.information-elements p {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

/********************************About this place********************************/

.information__description {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description__text {
  width: 90%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.description__text p {
  font-size: 16px;
  color: #000;
}

.description-about {
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.description-about p {
  font-size: 16px;
  color: #000;
}

/************************** Media Queries **************************/

@media (max-width: 1050px) {
  .description__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content__information {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .name h1 {
    font-size: 18px;
  }

  .host__location p {
    font-size: 14px;
  }

  .information-elements p {
    font-size: 14px;
  }

  .description-about p {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .description__host {
    width: 90%;
  }

  .content__information {
    width: 100%;
  }

  .name h1 {
    font-size: 16px;
  }

  .host__location p {
    font-size: 12px;
  }

  .information-elements p {
    font-size: 12px;
  }

  .description__text h2 {
    font-size: 16px;
  }

  .description-about p {
    font-size: 12px;
  }
}
