.main__home__cards {
  width: 100vw;

  display: flex;
  justify-content: center;
}

.main__cards__container {
  width: 90%;

  margin-top: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/***************Responsive***************/

@media (max-width: 1113px) {
  .main__cards__container {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}
