@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: "Montserrat", sans-serif;
}
